.about-main{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex:1;
  .el-card{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }
}

.committer-body{

}

.committer-title{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items:center;
  padding-bottom: 15px;
  gap: 15px;
  .branch-select{
    width: 200px;
  }
  .committer-button{
    margin-left: 15px;
    scale: 100%;
  }
}